@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

:root {
  --btn-gradient-color1: #59382c;
  --btn-gradient-color2: #926251;
  --price-color: #1da810;
  --transition: 0.5s ease;
  --red-color: #cf1111;
  --peony-color: #f4c9d6;
  --capuccino-color: #59382c;
  --licorice-color: #1e151c;
  --primary-color: #db7093;
  --text-color: #3e2723;
  --background-color: #ffecda;
  --font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Great Vibes", cursive;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.11em;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@import url("./styles/header.css");
@import url("./styles/presentation-bar.css");
@import url("./styles/banner-slider.css");
@import url("./styles/categories.css");
@import url("./styles/items.css");
@import url("./styles/filter-product.css");
@import url("./styles/show-full-item.css");
@import url("./styles/floating-cart.css");
@import url("./styles/order.css");
@import url("./styles/footer.css");

/* ============================= */
/* 📱 MOBILE (до 767px) */
/* ============================= */
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

/* ============================= */
/* 📲 TABLET (768px - 1023px) */
/* ============================= */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/* ============================= */
/* 💻 SMALL DESKTOP (1024px - 1279px) */
/* ============================= */
@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 100%;
    max-width: 1100px;
  }
}

/* ============================= */
/* 💻 1280px */
/* ============================= */
@media (min-width: 1280px) and (max-width: 1439px) {
  .container {
    width: 100%;
    max-width: 1280px;
  }
}

/* ============================= */
/* 🖥 1440px+ */
/* ============================= */
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
